/* Variables */

:root {
	--back: #242423;
	--accent: #333533;
	--prim: #370617;
	--sec: #780116;
	--light: #9e2a2b;
	--lighter: #e5383b;
	--white: #fff;
	--postlight: #d3d3d3;
}

/* Background */

.login__main-holder__section-form,
.login__main-holder.container-fluid,
body,
.crowdin-home-try-today__wrapper,
#crowdin-header,
.crowdin-section-mobile.crowdin-tour-jumbotron,
.crowdin-tour-jumbotron > .container,
.crowdin-tour-jumbotron__title-holder__title,
#crowdin-tour-online-editor,
.crowdin-integrations-jumbotron,
.crowdin-enterprise-jumbotron
{
	background-color: var(--back);
}

.btn.btn-block.btn-link.clearfix,
#sso-component,
.crowdin-demo-request__desc-wrapper__logos {
	background: var(--white);
}

.btn.btn-link:hover,
.btn.btn-primary:hover,
.btn.btn-outline-primary:hover {
	background: var(--postlight);
}

.btn.btn-primary.btn-block,
.btn.btn-primary,
.btn.btn-outline-primary
{
	background: var(--light);
}

.btn.btn-primary.btn-block:hover,
.btn.btn-primary:hover,
.btn.btn-outline-primary:hover,
a>svg,
.img-fluid.d-none.d-md-block,
.crowdin-tour-online-editor__header .switch-button__toggle-button::after
{
	background: var(--lighter);
}

.btn.btn-link.btn-sm.mr-0,
#header,
#demo-request-form,
.crowdin-integrations-tabholder,
.crowdin-enterprise-early-access
{
	background: var(--accent);
}

/* Text */

.crowdin-integrations-tabholder .nav-tabs .nav-link.active {
	color: var(--light)
}
h1,
h2,
h3,
h4,
h5,
.btn.btn-link,
.btn.btn-link.btn-sm.mr-0:hover,
.crowdin-navbar__nav-link>a,
.crowdin-home-features__title,
.btn.btn-outline-primary:hover,
.text-center.crowdin-home-parallel-work__title,
.crowdin-footer__column__title,
.name,
.position,
.title,
.crowdin-header-jumbotron__description__title,
.row.crowdin-home-parallel-work__img-wrapper.d-none.d-lg-block,
.helper-h2,
.crowdin-enterprise-jumbotron__form__email:focus, .crowdin-enterprise-jumbotron__form__name:focus
{
	color: var(--white);
}

label,
.crowdin-navbar__nav-link>a:hover,
.crowdin-navbar .dropdown:hover>a,
.crowdin-navbar .dropdown.show .submenu-title,
.crowdin-home-features__description,
.btn.btn-outline-primary,
.text-center,
.crowdin-footer__column__link,
.mb-2.mb-md-0 p,
.crowdin-tab-img__desc-wrapper.nav-pills .nav-link,
.crowdin-tour-online-editor--day .crowdin-tour-online-editor__header .switch-button__container .night-icon,
.crowdin-tour-online-editor__header .switch-button__container .day-icon,
#nav-formats-tab,
.nav-link,
.crowdin-integrations-tabholder .nav-tabs .nav-link,
.form-group label,
.crowdin-enterprise-jumbotron__form input, .crowdin-enterprise-jumbotron__form ,
p,
.crowdin-enterprise-early-access p
{
	color: var(--postlight);
}

a,
a:hover,
.icon--green,
.crowdin-tab-img__desc-wrapper.nav-pills .nav-link.active,
.crowdin-tour-online-editor--day .crowdin-tour-online-editor__header .switch-button__container .day-icon,
.btn.btn-link:hover,
.crowdin-navbar__nav-link.active>a,
.crowdin-tour-online-editor__header .switch-button__container .night-icon,
.crowdin-integrations-tabholder .nav-tabs .nav-link:hover
{
	color: var(--lighter);
}

.form-check-label#remeber-me-sso-label,
figcaption,
.media-body h4
{
	color: var(--back);
}

.media-body > p
{
	color: var(--accent);
}
/* Border */

.btn.btn-link:hover,
.btn.btn-outline-primary {
	border-color: var(--light)
}

.btn.btn-link.btn-sm.mr-0 {
	border-color: transparent;
}

.btn.btn-link {
	border-color: var(--white);
}

.form-control:focus {
	border-color: var(--light);
}

.crowdin-tour-online-editor__header .switch-button__toggle-button {
    border-color: var(--lighter);
}

/* Misc */

#sso-component {
	padding: 2px 20px;
	margin: 20px auto;
	border-radius: 30px;
}

.btn.btn-link.btn-sm.mr-0:hover {
	text-decoration: underline;
}

.navbar-brand.crowdin-navbar__logo,
.crowdin-section.crowdin-home-testimonials {
	display: none;
}

#header {
	height: 65px;
}

.row.crowdin-home-parallel-work__img-wrapper.d-none.d-lg-block {
	border-radius: 20px;
	margin: 20px;
}
.crowdin-quote-section__company {
    background:white;
    border-radius: 25px;
}
a>svg {
	width: 200px;
	margin-top: 50px;
	margin-right: 50px;
	margin-bottom: 50px;
	margin-left: 50px;
	display: block;
	text-align: center;
	border: outset 5px;
	height: 50px;
}
.crowdin-header-jumbotron__description__title,
.crowdin-tour-jumbotron__title-holder__title,
.crowdin-integrations-tabholder
{
	box-shadow: none;
}

.img-fluid.d-none.d-md-block,
.crowdin-demo-request__desc-wrapper__logos {
	padding: 5px;
	border-radius: 20px;
}
.crowdin-tour-online-editor,
.crowdin-tour-jumbotron > .container 
{
    background: linear-gradient(to bottom,var(--back)0,89%,var(--back)100%);	
}
